.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: transparent;
}

.App-header {
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5vmin);
  color: white;
  max-width: 100%;
}

.infoDiv{
  width:100%;
  height:100%;
  padding: 5px 20vw 5px 20vw;
}

body {
  background-image: url("topographic-lines.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.box {
  height: 120px;
  width: 120px;
  display: inline-block;
  margin: 15px;
  border-radius: 20px;
  padding-top: 20px;
}

.bodyDiv {
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  background-image: transparent !important;
}

.gamePanel {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  width: 100%;
  justify-content: space-between;
  margin: 25px 65px 5px 65px;
  font-size: 12px;
  align-items: center;
}

.startButton {
  height: 35px;
  width: 140px;
  font-size: 20px;
  padding: 5px 0px;
  color: black;
}

.gameOver {
  font-size: 30px;
  color: white;
  font-weight: 500;
  background-color: black;
  padding: 5px 10px;
}

.scorePanel span {
  padding-top: 3px;
}

.scorePanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:white;
}

.gameOverMobile {
  display: none;
}

.stopWatch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  width: 100%;
  margin: 0px 65px;
  color: white
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    box-sizing: border-box;
  }
  .gamePanel {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    width: 100%;
    justify-content: space-between;
    margin: 20px 27px 20px 27px;
    font-size: 15px;
    align-items: center;
  }

  .startButton {
    height: 50px;
    font-size: 15px;
    padding: 5px 0px;
  }
  .bodyDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1vh;
    box-sizing: border-box;
  }
  .box {
    height: 80px;
    border-radius: 20px;
    min-width: 18%; /* 100% / 4 boxes per row for mobile view */
    max-width: 22%; /* 100% / 4 boxes per row for mobile view */
    box-sizing: border-box;
    margin: 5px;
  }
  .gameOver {
    display: none;
  }
  .gameOverMobile {
    display: flex;
    font-size: 50px;
    color: white;
    font-weight: 500;
    margin-top: -340px;
    background-color: black;
    margin-right: 25%;
    margin-left: 25%;
    padding: 15px;
    justify-content: center;
  }
  .App-header {
    font-size: calc(6px + 2vmin);
    padding-top:10px
  }

  .stopWatch {
    margin: 10px;
    font-size: 10px;
  }

  .infoDiv{
    width: 700px;
    width:100%;
    height:100%;
    padding: 15px 4% 15px 4%;
  }

  body {
    background-image: url("topographic-lines.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
  }
}



.icon-volume {
  color: white;
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  color:white;
}

.toggle-slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.toggle-slider span{
  color: white;
  padding:10px
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #05D5FA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #05D5FA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}